<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div>
    <table >
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Plane size ✈</th>
        </tr>
        </thead>
        <tbody id="in-air"></tbody>
    </table>
    <td><button id="land-plane">Land next plane</button></td>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Plane size ✈</th>
        </tr>
        </thead>
        <tbody id="on-ground"></tbody>
    </table>
</div>

<script>
    const airplanes = [
        {id: 1, status: false, timeArrival: 8, timeDeparture: 12, planeSize:"m"},
        {id: 2, status: false, timeArrival: 9, timeDeparture: 13, planeSize:"s"},
        {id: 3, status: true, timeArrival: 7, timeDeparture: 12, planeSize:"l"},
        {id: 4, status: false, timeArrival: 13, timeDeparture: 17, planeSize:"l"}
    ]

    const airplanes1 = []

    function createRows(list){
        const rows = list.map(n =>`
        <tr>
            <td>${n.id}</td>
            <td>${n.status}</td>
            <td>${n.timeArrival}</td>
            <td>${n.timeDeparture}</td>
            <td>${n.planeSize}</td>
        </tr>
        `)
        document.getElementById("in-air").innerHTML = rows.join("")
    }

    function createRows1(list){
        const rows = list.map(n =>`
        <tr>
            <td>${n.id}</td>
            <td>${n.status}</td>
            <td>${n.timeArrival}</td>
            <td>${n.timeDeparture}</td>
            <td>${n.planeSize}</td>
        </tr>
        `)
        document.getElementById("on-ground").innerHTML = rows.join("")
    }

    document.getElementById("land-plane").onclick = (e) =>{
        e.preventDefault()
        airplanes1.push(airplanes[0])
        airplanes.shift()
        createRows(airplanes)
        createRows1(airplanes1)
    }


    createRows(airplanes)
</script>
</body>
</html>